/* body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-family: "Press Start 2P", cursive;
  background: rgb(255, 245, 150);
} */

.clickgame-font {
  font-size: 1.5rem;
  text-align: center;
  margin: 5px;
  color: rgb(105, 103, 103);
  letter-spacing: 1px;
}
.clickgame-h1 {
  font-size: 1.5rem;
  text-align: center;
  justify-content: center;
}
.clickgame-btn {
  display: block;
  font-family: "Press Start 2P", cursive;
  font-size: 10px;
  margin: 10px;
  color: rgb(255, 255, 255);
  border: none;
  font-size: 1.5rem;
  padding: 20px 10px;
  cursor: pointer;
  letter-spacing: 1px;
  margin: auto;
  width: 50%;
  border-radius: 20px;
  background-color: rgb(253, 152, 19);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.clickgame-btn:hover {
  background-color: rgb(231, 179, 21);
}

.num {
  font-size: 4rem;
  letter-spacing: 4px;
}
